{% extends 'base.html' %}

{% block 'content' %}
<div class="jumbotron jumbotron-fluid bg-dark text-white text-justify">
    <h1 align="center">Cadastro de StopWords</h1>
    <hr class="my-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col justify-content-star" id="select" name="select">
                <button class="btn btn-outline-primary" onclick="ShowDiv()">Arquivo</button>
                <button class="btn btn-outline-primary" onclick="ShowDiv()">Texto</button>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6" id="arquivo" style="display:none">
                <form action="{% url 'process_stops' %}" method="post" id="stop_file" class="was-validated" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" name="file" required>
                        <label class="custom-file-label" for="validatedCustomFile">Selecione um arquivo</label>
                        <div class="invalid-feedback">Obrigatório!</div>
                    </div>
                    <div class="form-group">
                        <select class="custom-select" name="delimiter" required>
                            <option value="">Escolha um delimitador</option>
                            <option value="|">Pipe ("|")</option>
                            <option value=",">Vírgula (",")</option>
                            <option value=";">Ponto e Vírgula (";")</option>
                        </select>
                        <div class="invalid-feedback">Obrigatório!</div>
                    </div>
                    <button type="submit" class="btn btn-danger">Salvar</button>
                </form>
            </div>
            <div class="col-md-6" id="texto" style="display:none">
                <form action="{% url 'process_stops' %}" method="post" id="stop_words" class="was-validated" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <textarea class="form-control is-invalid" name="stop_words_inline" placeholder="Palavras separadas por ;" required></textarea>
                        <div class="invalid-feedback">Obrigatório!</div>
                    </div>
                    <button type="submit" class="btn btn-danger">Salvar</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3">
                {% include 'messages/_messages.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}