{% extends 'base.html' %}

{% load static %}

{% block 'content' %}
    <hr class="my-4">
    <div class="row justify-content-center">
        <h3><p class="bg-danger">{% include 'messages/_messages.html' %}</p></h3>
    </div>
    <div class="row align-items-start" style="margin-top: 20px">
        <form action="{% url 'update' %}" method="post", id="wordcloud", enctype="multipart/form-data">
            {% csrf_token %}
            <p class="font-weight-bold text-primary">Escolha um chat</p>
            <div class="form-group">
                <select class="form-control form-control-lg" name="chat">
                    <option value="None">None</option>
                    {% for chat in chats %}
                        {%  if chat is not None %}
                            <option value="{{chat}}">{{chat}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <hr class="my-4">
        <div class="row align-items-start" style="margin-top: 20px">
            <picture>
                <img src="{% static 'img/wordcloud.jpg' %}"  alt="WordCloud" class="img-fluid ">
            </picture>
        </div>
    </div>
{% endblock %}